<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 12 2014 23:47:43 GMT+0000 (UTC) -->
<html data-wf-site="52f3116d5d8eed2b6b00065c">
<head>
  <meta charset="utf-8">
  <title>Sleeprite - Add Sleep</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/ubersleep.webflow.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Bitter:400,700","Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
</head>
<body class = "bground">

      <div class="modal fade" id = "modalBiphasic">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Biphasic</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/Biphasic.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
           
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

      <div class="modal fade" id = "modalEveryman">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Everyman</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/Everyman.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id = "modalDymaxion">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Dymaxion</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/Dymaxion.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id = "modalUberman">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Uberman</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/Uberman.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  <h1 class = "swag_font">Add Sleep</h1>

  <div class = "text_indent">
    <button data-toggle="modal" data-target="#modalBiphasic"><font class = "swag_font_6_bold">Biphasic</font> </button><font class = "swag_font_6"> - One 5 hour sleep and one 1 hour, 30 minute sleep<br></font>
    <button data-toggle="modal" data-target="#modalEveryman"><font class = "swag_font_6_bold">Everyman</font> </button> <font class = "swag_font_6"> - One 3 hour sleep and three 30 minute sleeps<br></font>
    <button data-toggle="modal" data-target="#modalDymaxion"><font class = "swag_font_6_bold">Dymaxion</font> </button><font class = "swag_font_6"> - Four 30 minute sleeps<br></font>
    <button data-toggle="modal" data-target="#modalUberman"><font class = "swag_font_6_bold">Uberman</font> </button><font class = "swag_font_6"> - Six 30 minute sleeps<br></font>

    <a href="http://en.wikipedia.org/wiki/Polyphasic_sleep#Claimed_sleep_patterns"><font class = "swag_font_6_link">To find out more about alternative sleep cycles, click here.</font></a>
  </div>


  <form id="sleep_form" role="form">
    <div class="form-group">
      <label for="sleep_cycle"><font class = "swag_font_6_bold">Choose sleep cycle:</font></label>
      <select class="form-control" id="sleep_cycle">
        <option value="0">Biphasic</option>
        <option value="1">Everyman</option>
        <option value="2">Dymaxion</option>
        <option value="3">Uberman</option>
      </select>
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" placeholder="">
    </div>
    <br><br><center><button id="submitBtn" type="button" class="btn btn-default btn-lg"><font class = "swag_font_5">Add to Schedule</font></button></center>  
  </form>

  <script>
  function goBackToSchedule(e)
  {
    window.location = "schedule2";
  }
  </script>
  <center><button id="scheduleBtn" type="button" class="btn btn-default btn-lg"><font class = "swag_font_5">Back to Schedule</font></button></center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/sleep_form.js"></script>
  <!--<script type="text/javascript" src="js/webflow.js"></script>-->
</body>
</html>