<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 12 2014 23:47:43 GMT+0000 (UTC) -->
<html data-wf-site="52f3116d5d8eed2b6b00065c">
<head>
  <meta charset="utf-8">
  <title>Sleeprite - Add Sleep</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/ubersleep.webflow.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Bitter:400,700","Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
</head>
<body class = "bground">



<div class="modal fade" id = "modalMonophasic">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Monophasic</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/monophasic.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
           
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<div class="modal fade" id = "modalSiesta">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Siesta</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/siesta.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
           
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

      <div class="modal fade" id = "modalEveryman">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Everyman</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/everyman.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id = "modalDualCore">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Dual Core</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/dual_core.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id = "modalDymaxion">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Dymaxion</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/dymaxion.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id = "modalUberman">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="swag_font_modal">Uberman</h4>
          </div>
          <div class="modal-body">
            <center><img src = "images/uberman.png" class ="img" ></center>
          </div>
          <div class="modal-footer">
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  <h1 class = "swag_font">Add Sleep</h1>

  <div class = "text_indent">
    <button data-toggle="modal" data-target="#modalMonophasic"><font class = "swag_font_6_bold">Monophasic</font> </button><font class = "swag_font_6"> - One 7 hour sleep<br></font>
    <button data-toggle="modal" data-target="#modalSiesta"><font class = "swag_font_6_bold">Siesta</font> </button><font class = "swag_font_6"> - One 5 hour sleep and one 1 hour, 30 minute sleep<br></font>
    <button data-toggle="modal" data-target="#modalEveryman"><font class = "swag_font_6_bold">Everyman</font> </button> <font class = "swag_font_6"> - One 3 hour sleep and three 30 minute sleeps<br></font>
    <button data-toggle="modal" data-target="#modalDualCore"><font class = "swag_font_6_bold">Dual Core</font> </button> <font class = "swag_font_6"> - One 3 hour, 30 minute sleep, one 1 hour, 30 minute sleep, and one 30 minute sleep<br></font>
    <button data-toggle="modal" data-target="#modalDymaxion"><font class = "swag_font_6_bold">Dymaxion</font> </button><font class = "swag_font_6"> - Four 30 minute sleeps<br></font>
    <button data-toggle="modal" data-target="#modalUberman"><font class = "swag_font_6_bold">Uberman</font> </button><font class = "swag_font_6"> - Six 30 minute sleeps<br></font>


    <a href="http://en.wikipedia.org/wiki/Polyphasic_sleep#Claimed_sleep_patterns"><font class = "swag_font_6_link">To find out more about alternative sleep cycles, click here.</font></a>
  </div>


  <form id="sleep_form" role="form">
    <div class="form-group">
      <label for="sleep_cycle"><font class = "swag_font_6_bold">Choose sleep cycle:</font></label>
      <select class="form-control" id="sleep_cycle">
        <option value="0">Siesta</option>
        <option value="1">Everyman</option>
        <option value="2">Dymaxion</option>
        <option value="3">Uberman</option>
        <option value="4">Dual Core</option>
        <option value="5">Monophasic</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="sleep_cycle"><font class = "swag_font_6_bold">How many days would you like to try this cycle?</font></label>
      <select class="form-control" id="next_X_days">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
      </select>
    </div>

    <br><br><center><button id="submitBtn" type="button" class="btn btn-default btn-lg">Add to Schedule</button><center>
  </form>

    <form id="back_form" role="form" method = "post" action = "/schedule2">
  <script>
  function GetUrlValue(VarSearch){
      var SearchString = window.location.search.substring(1);
      var VariableArray = SearchString.split('&');
      for(var i = 0; i < VariableArray.length; i++){
          var KeyValuePair = VariableArray[i].split('=');
          if(KeyValuePair[0] == VarSearch){
              return KeyValuePair[1];
          }
      }
  }
  var date = GetUrlValue("date");
  /*var date_arr = GetUrlValue("date").split('%20');
  var date_str = "";
  for (var i = 0; i < date_arr.length - 1; i++) {
    date_str += (date_arr[i] + " ");
  }
  date_str += (date_arr[date_arr.length-1]);
  var month=new Array();
      month["Jan"]="01";
      month["Feb"]="02";
      month["Mar"]="03";
      month["Apr"]="04";
      month["May"]="05";
      month["Jun"]="06";
      month["Jul"]="07";
      month["Aug"]="08";
      month["Sep"]="09";
      month["Oct"]="10";
      month["Nov"]="11";
      month["Dec"]="12";
      var monthNum = month[date_str.substring(4,7)];

      var date_to_check = date_str.substring(11,15) + "-" + monthNum + "-" + date_str.substring(8,10);*/
  document.write("<input type=\"hidden\" id=\"date\" name=\"date\" value=" + date + ">");
      </script>

      <center><input id="backBtn" type="submit" class="btn btn-default btn-lg" value = "Back to Schedule"></center>
  </form>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/sleep_form2.js"></script>
  <!--<script type="text/javascript" src="js/webflow.js"></script>-->
</body>
</html>