<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 12 2014 23:47:43 GMT+0000 (UTC) -->
<html data-wf-site="52f3116d5d8eed2b6b00065c">
<head>
  <meta charset="utf-8">
  <title>Ubersleep - Delete</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/ubersleep.webflow.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Bitter:400,700","Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
</head>
<body class = "bground">
  <script src="js/delete_form.js"></script>
  <script>
  	function getEvent() {

  		var event_name_preparse2 = GetUrlValue("event");

  		var event_arr2 = event_name_preparse2.split('%20');
  		var event_name2 = "";
  		for (var i = 0; i < event_arr2.length - 1; i++) {
    		event_name2 += (event_arr2[i] + " ");
  		}
  		event_name2 += (event_arr2[event_arr2.length-1]);
  		return event_name2;
  	}

  </script>


  <h1 class = "swag_font">Delete Event</h1>
  <font class = "swag_font_2"><p><script>document.write("Event Name: " + getEvent())</script> </p</font>
   
<center><button id="deleteBtn" type="button" class="btn btn-danger btn-lg">Delete</button></center>

   <form id="back_form" role="form" method = "post" action = "/schedule2">
  <script>
  var date = GetUrlValue("date");
  var date_arr = GetUrlValue("date").split('%20');
  var date_str = "";
  for (var i = 0; i < date_arr.length - 1; i++) {
    date_str += (date_arr[i] + " ");
  }
  date_str += (date_arr[date_arr.length-1]);
  var month=new Array();
      month["Jan"]="01";
      month["Feb"]="02";
      month["Mar"]="03";
      month["Apr"]="04";
      month["May"]="05";
      month["Jun"]="06";
      month["Jul"]="07";
      month["Aug"]="08";
      month["Sep"]="09";
      month["Oct"]="10";
      month["Nov"]="11";
      month["Dec"]="12";
      var monthNum = month[date_str.substring(4,7)];

      var date_to_check = date_str.substring(11,15) + "-" + monthNum + "-" + date_str.substring(8,10);
  document.write("<input type=\"hidden\" id=\"date\" name=\"date\" value=" + date_to_check + ">");
      </script><center><input id="backBtn" type="submit" class="btn btn-default btn-lg" value = "Back to Schedule"></center>
  </form>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  
  <!--<script type="text/javascript" src="js/webflow.js"></script>-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48940736-1', 'ubersleep.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>